<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:application.properties"/>
    </bean>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="maximumPoolSize" value="${db.hikari.pool-size}"/>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig"/>
    </bean>

    <bean id="passwordBlackListJDBC" class="PasswordBlackListJDBCImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="passwordBlackListFile" class="PasswordBlackListFileImpl">
        <constructor-arg name="fileName" value="passwords.txt"/>
    </bean>

    <bean id="passwordBlackListHardCode" class="PasswordBlackListHardCodeImpl"/>

    <bean id="signUpService" class="SignUpService">
        <constructor-arg name="passwordBlackList" ref="passwordBlackListJDBC"/>
        <constructor-arg name="emailValidator" ref="emailValidator"/>
    </bean>

    <bean id="emailValidator" class="EmailValidatorRegexImpl">
        <property name="regex" value=".+@.+"/>
    </bean>

</beans>
